* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(164, 167, 162);
}
.back-img {
  background-position: 100px 5px;
  padding: 0 0 0 0;
  height: 26rem;
  width: 100%;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Train One', cursive;
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: black 1px 1px;
}
.subtitle a {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Train One', cursive;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: black 1px 1px;
}

.column is-half {

}
.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  .footer {
    background-color: #3f088c;
    font-weight: bold;
    color: white;
  }

